.c-todo-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--neutral-x-light);
    &:last-child{
        border-bottom: none;
    }
}

.c-todo-item__input{
    display: none;
}