.c-todo-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--neutral-x-light);
    &:last-child{
        border-bottom: none;
    }
}

.c-todo-item__input{
    display: none;
}

.c-todo-item__check{
    stroke: var(--theme-color);
}

.c-todo-item__label{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}